@import "styles/colors";

.header{
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 400px auto;
  align-items: center;
  gap: 32px;
}

.table{
  td{
    //max-width: max-content;
  }
  tr:nth-child(2n) {
    background-color: $s;
  }
}