$accent: #00639A !default;
$b: #ffffff !default; // basic
$bc: #000000; // basic-contrast. Контрастный базовому цвету
$s: #f3f3f3; // secondary
$sc: #7b7c7f; // secondary-contrast. Контрастный вторичному цвету