@import "@/styles/colors";
.workTime {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 500;
  color: $sc;
}
.heading{
  margin-bottom: 16px;
  font-size: 22px;
  font-weight: 500;
  color: $bc;
}