@import "styles/colors";
.header{
  padding: 16px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.148328);
}
.inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.logo{
  color: $accent;
  font-size: 24px;
  font-weight: 900;
}
.phone{
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.phoneLinkImg{
  width: 40px;
  height: 40px;
}