@import "styles/colors";
.header{
  padding: 16px 0 ;
  position: relative;
  svg{
    fill: $accent;
  }
}
.inner{
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.box{
  display: flex;
  align-items: center;
  gap: 24px;
}

.menuBtn{
  display: none;
}

@media (max-width: 992px){
  .workTime{
    display: none;
  }

}
@media (max-width: 670px){
  .menuBtn{
    display: block;
    padding: 10px;
    svg{
      width: 30px;
      height: 30px;
    }
  }
}