@import "styles/colors";

.brandList{
  padding: 56px 0;
  background: $s;
  h2{
    text-align: center;
    margin-bottom: 32px;
  }
}
.list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:24px;
}
.item{
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background: $accent;
    transform: scale(1.7);
  }
}