@import "styles/colors";

.title{
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
}
.social{
  position: fixed;
  top: 50%;
  right: 5%;
  z-index: 100;
}
.inner{
  display: flex;
  gap: 16px;
  flex-direction: column;

  a:hover{
    transform: scale(1.2);
  }
}
.link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $s;
  border-radius: 5px;
  svg{
    width: 20px;
    height: 20px;
  }
}
.telegram{
  background-color: #2ca5e0;
}
.whatsap{
  background-color: #25d366;
}
.viber{
  background-color: #665cac;
}