@import "@/styles/colors";

.btn{
  padding: 10px 24px;
  background-color: $accent;
  border-radius: 3px;
  color: $b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  overflow: hidden;
  border: 1px solid $accent;
  outline: none;
  cursor: pointer;
}